/bin/.cmake/api/v1/query/cache-v2
/bin/.cmake/api/v1/query/cmakeFiles-v1
/bin/.cmake/api/v1/query/codemodel-v2
/bin/.cmake/api/v1/reply/cache-v2-420396c7802af641081f.json
/bin/.cmake/api/v1/reply/cmakeFiles-v1-51f30244e2970877d2ec.json
/bin/.cmake/api/v1/reply/codemodel-v2-2f88b3fc8fd8d74bc376.json
/bin/.cmake/api/v1/reply/index-2020-07-02T09-57-14-0740.json
/bin/.cmake/api/v1/reply/target-NeuronetMaster_autogen-Debug-a5726608fbf4269668e5.json
/bin/.cmake/api/v1/reply/target-NeuronetMaster-Debug-861564222405730acf3b.json
/bin/.ninja_deps
/bin/.ninja_log
/bin/build.ninja
/bin/cmake_install.cmake
/bin/CMakeCache.txt
/bin/CMakeFiles/3.17.1/CMakeCXXCompiler.cmake
/bin/CMakeFiles/3.17.1/CMakeDetermineCompilerABI_CXX.bin
/bin/CMakeFiles/3.17.1/CMakeRCCompiler.cmake
/bin/CMakeFiles/3.17.1/CMakeSystem.cmake
/bin/CMakeFiles/3.17.1/CompilerIdCXX/a.exe
/bin/CMakeFiles/3.17.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/bin/CMakeFiles/clean_additional.cmake
/bin/CMakeFiles/cmake.check_cache
/bin/CMakeFiles/CMakeOutput.log
/bin/CMakeFiles/NeuronetMaster.dir/main.cpp.obj
/bin/CMakeFiles/NeuronetMaster.dir/NeuronetMaster_autogen/mocs_compilation.cpp.obj
/bin/CMakeFiles/NeuronetMaster.dir/src/NeuronetMaster.cpp.obj
/bin/CMakeFiles/NeuronetMaster_autogen.dir/AutogenInfo.json
/bin/CMakeFiles/NeuronetMaster_autogen.dir/AutogenUsed.txt
/bin/CMakeFiles/NeuronetMaster_autogen.dir/ParseCache.txt
/bin/CMakeFiles/TargetDirectories.txt
/bin/NeuronetMaster.cbp
/bin/NeuronetMaster_autogen/6YEA5652QU/moc_NeuronetMaster.cpp
/bin/NeuronetMaster_autogen/6YEA5652QU/moc_NeuronetMaster.cpp.d
/bin/NeuronetMaster_autogen/deps
/bin/NeuronetMaster_autogen/moc_predefs.h
/bin/NeuronetMaster_autogen/mocs_compilation.cpp
/bin/NeuronetMaster_autogen/timestamp
/bin/qtcsettings.cmake
/bin/rules.ninja
/bin/utils/__pycache__/label_map_util.cpython-37.pyc
/bin/utils/__pycache__/visualization_utils.cpython-37.pyc
/bin/utils/label_map_util.py
/bin/utils/visualization_utils.py
/CMakeLists.txt.user
/utils/__pycache__/label_map_util.cpython-37.pyc
/utils/__pycache__/visualization_utils.cpython-37.pyc
/bin/NeuronetMaster.exe
/bin/.cmake/api/v1/reply/cache-v2-cfe739568ac59e7e2d63.json
/bin/.cmake/api/v1/reply/cmakeFiles-v1-33b0bff32348fde0af7d.json
/bin/.cmake/api/v1/reply/codemodel-v2-f96ed3ece7d91a3b86b3.json
/bin/.cmake/api/v1/reply/index-2020-07-08T04-10-23-0747.json
/bin/.cmake/api/v1/reply/target-NeuronetMaster-Debug-00aef603d3acaef65527.json
/bin/.cmake/api/v1/reply/codemodel-v2-c699c99ad3ee0fcb5079.json
/bin/.cmake/api/v1/reply/index-2020-07-08T09-50-53-0605.json
/bin/.cmake/api/v1/reply/target-NeuronetMaster-Debug-a7ada3c54d9770e65f83.json
/bin/.cmake/api/v1/reply/codemodel-v2-1381e89919f3e0e65c9d.json
/bin/.cmake/api/v1/reply/index-2020-07-09T03-37-30-0645.json
/bin/.cmake/api/v1/reply/target-NeuronetMaster-Debug-9809d0c74ed18015bc23.json
/bin/CMakeFiles/NeuronetMaster.dir/src/CommunicationMaster.cpp.obj
/bin/NeuronetMaster_autogen/6YEA5652QU/moc_CommunicationMaster.cpp
/bin/NeuronetMaster_autogen/6YEA5652QU/moc_CommunicationMaster.cpp.d
/bin/.cmake/api/v1/reply/cache-v2-b6c2d7740658bb3f093a.json
/bin/.cmake/api/v1/reply/cmakeFiles-v1-ace3ff41adff664b5243.json
/bin/.cmake/api/v1/reply/codemodel-v2-e2535c4d42140c3a5489.json
/bin/.cmake/api/v1/reply/index-2020-07-17T03-21-28-0569.json
/bin/.cmake/api/v1/reply/target-NeuronetMaster-Debug-c836e3bffefc795ebc4c.json
/bin/CMakeFiles/3.17.1/CompilerIdCXX/CMakeCXXCompilerId.exe
/bin/CMakeFiles/3.17.1/CompilerIdCXX/CMakeCXXCompilerId.obj
/bin/CMakeFiles/feature_tests.bin
/bin/CMakeFiles/feature_tests.cxx
/bin/CMakeFiles/NeuronetMaster.dir/embed.manifest
/bin/CMakeFiles/NeuronetMaster.dir/intermediate.manifest
/bin/CMakeFiles/NeuronetMaster.dir/manifest.rc
/bin/CMakeFiles/NeuronetMaster.dir/manifest.res
/bin/CMakeFiles/NeuronetMaster.dir/vc140.pdb
/bin/CMakeFiles/ShowIncludes/foo.h
/bin/CMakeFiles/ShowIncludes/main.c
/bin/CMakeFiles/ShowIncludes/main.obj
/bin/NeuronetMaster.ilk
/bin/NeuronetMaster.pdb
/bin/release/.cmake/api/v1/query/cache-v2
/bin/release/.cmake/api/v1/query/cmakeFiles-v1
/bin/release/.cmake/api/v1/query/codemodel-v2
/bin/release/.cmake/api/v1/reply/cache-v2-0f94dc80cadb3d7cf9e6.json
/bin/release/.cmake/api/v1/reply/cmakeFiles-v1-98b56337ea25300e55b2.json
/bin/release/.cmake/api/v1/reply/codemodel-v2-5c56ab7eff4f26addd78.json
/bin/release/.cmake/api/v1/reply/index-2020-07-17T03-28-42-0981.json
/bin/release/.cmake/api/v1/reply/target-NeuronetMaster_autogen-Release-7eddf19b10961a6709ad.json
/bin/release/.cmake/api/v1/reply/target-NeuronetMaster-Release-dbb6331e93e2e0ddfa32.json
/bin/release/.ninja_deps
/bin/release/.ninja_log
/bin/release/bearer/qgenericbearer.dll
/bin/release/build.ninja
/bin/release/cmake_install.cmake
/bin/release/CMakeCache.txt
/bin/release/CMakeFiles/3.17.1/CMakeCXXCompiler.cmake
/bin/release/CMakeFiles/3.17.1/CMakeDetermineCompilerABI_CXX.bin
/bin/release/CMakeFiles/3.17.1/CMakeRCCompiler.cmake
/bin/release/CMakeFiles/3.17.1/CMakeSystem.cmake
/bin/release/CMakeFiles/3.17.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/bin/release/CMakeFiles/3.17.1/CompilerIdCXX/CMakeCXXCompilerId.exe
/bin/release/CMakeFiles/3.17.1/CompilerIdCXX/CMakeCXXCompilerId.obj
/bin/release/CMakeFiles/clean_additional.cmake
/bin/release/CMakeFiles/cmake.check_cache
/bin/release/CMakeFiles/CMakeOutput.log
/bin/release/CMakeFiles/feature_tests.bin
/bin/release/CMakeFiles/feature_tests.cxx
/bin/release/CMakeFiles/NeuronetMaster.dir/main.cpp.obj
/bin/release/CMakeFiles/NeuronetMaster.dir/NeuronetMaster_autogen/mocs_compilation.cpp.obj
/bin/release/CMakeFiles/NeuronetMaster.dir/src/CommunicationMaster.cpp.obj
/bin/release/CMakeFiles/NeuronetMaster.dir/src/NeuronetMaster.cpp.obj
/bin/release/CMakeFiles/NeuronetMaster_autogen.dir/AutogenInfo.json
/bin/release/CMakeFiles/NeuronetMaster_autogen.dir/AutogenUsed.txt
/bin/release/CMakeFiles/NeuronetMaster_autogen.dir/ParseCache.txt
/bin/release/CMakeFiles/ShowIncludes/foo.h
/bin/release/CMakeFiles/ShowIncludes/main.c
/bin/release/CMakeFiles/ShowIncludes/main.obj
/bin/release/CMakeFiles/TargetDirectories.txt
/bin/release/D3Dcompiler_47.dll
/bin/release/iconengines/qsvgicon.dll
/bin/release/imageformats/qgif.dll
/bin/release/imageformats/qicns.dll
/bin/release/imageformats/qico.dll
/bin/release/imageformats/qjpeg.dll
/bin/release/imageformats/qsvg.dll
/bin/release/imageformats/qtga.dll
/bin/release/imageformats/qtiff.dll
/bin/release/imageformats/qwbmp.dll
/bin/release/imageformats/qwebp.dll
/bin/release/libEGL.dll
/bin/release/libGLESV2.dll
/bin/release/NeuronetMaster.cbp
/bin/release/NeuronetMaster.exe
/bin/release/NeuronetMaster.exe.manifest
/bin/release/NeuronetMaster_autogen/6YEA5652QU/moc_CommunicationMaster.cpp
/bin/release/NeuronetMaster_autogen/6YEA5652QU/moc_CommunicationMaster.cpp.d
/bin/release/NeuronetMaster_autogen/6YEA5652QU/moc_NeuronetMaster.cpp
/bin/release/NeuronetMaster_autogen/6YEA5652QU/moc_NeuronetMaster.cpp.d
/bin/release/NeuronetMaster_autogen/deps
/bin/release/NeuronetMaster_autogen/mocs_compilation.cpp
/bin/release/NeuronetMaster_autogen/timestamp
/bin/release/opengl32sw.dll
/bin/release/platforms/qwindows.dll
/bin/release/Qt5Core.dll
/bin/release/Qt5Gui.dll
/bin/release/Qt5Network.dll
/bin/release/Qt5Svg.dll
/bin/release/Qt5Widgets.dll
/bin/release/qtcsettings.cmake
/bin/release/rules.ninja
/bin/release/styles/qwindowsvistastyle.dll
/bin/release/translations/qt_ar.qm
/bin/release/translations/qt_bg.qm
/bin/release/translations/qt_ca.qm
/bin/release/translations/qt_cs.qm
/bin/release/translations/qt_da.qm
/bin/release/translations/qt_de.qm
/bin/release/translations/qt_en.qm
/bin/release/translations/qt_es.qm
/bin/release/translations/qt_fi.qm
/bin/release/translations/qt_fr.qm
/bin/release/translations/qt_gd.qm
/bin/release/translations/qt_he.qm
/bin/release/translations/qt_hu.qm
/bin/release/translations/qt_it.qm
/bin/release/translations/qt_ja.qm
/bin/release/translations/qt_ko.qm
/bin/release/translations/qt_lv.qm
/bin/release/translations/qt_pl.qm
/bin/release/translations/qt_ru.qm
/bin/release/translations/qt_sk.qm
/bin/release/translations/qt_uk.qm
/bin/release/translations/qt_zh_TW.qm
/bin/release/utils/__pycache__/label_map_util.cpython-37.pyc
/bin/release/utils/__pycache__/visualization_utils.cpython-37.pyc
/bin/release/utils/label_map_util.py
/bin/release/utils/visualization_utils.py
